/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
}

/* Estilo da seção esquerda da página */
.section-esquerda {
    text-align: left;
    padding: 20px;
    background-color: #f0f0f0;
}

/* Estilo da barra de navegação */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #283172;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Estilo do logotipo na barra de navegação */
.navbar-logo {
    margin-right: 20px;
}

/* Estilo da imagem do logotipo */
.navbar-logo img {
    height: 50px;
}

/* Estilo do menu da barra de navegação */
.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Estilo dos itens do menu */
.navbar-menu li {
    margin: 0 20px;
}

/* Estilo dos links do menu */
.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

/* Estilo para links ao passar o mouse */
.navbar-menu a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Estilo do contêiner principal */
.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinhamento flex-start para colocar o texto no topo */
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 100px auto; /* Centra o contêiner na página */
}

/* Estilo do título */
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #283172;
}

/* Estilo dos rótulos */
label {
    margin-bottom: 10px;
    font-size: 16px;
}

/* Estilo do campo de entrada de arquivo */
input[type="file"] {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* Estilo do contêiner de progresso */
.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 20px;
    display: none;
}

/* Estilo da barra de progresso */
.progress-bar {
    height: 10px;
    background-color: #283172;
    border-radius: 4px;
    width: 0%;
    transition: width 0.4s;
}

/* Estilo do contêiner de botões */
.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px; /* Margem inferior para os botões */
}

/* Estilo dos botões */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #283172;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo para botões desabilitados */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilo para botões ao passar o mouse, exceto se estiver desabilitado */
button:hover:not(:disabled) {
    background-color: #575757;
}

/* Estilo para o status */
#status {
    margin: 15px 0;
    font-weight: bold;
}

/* Estilo do desenvolvedor */
.developer-info {
    margin-top: 10px; /* Define a distância em relação aos botões */
    font-size: 14px;
    color: #777;
    text-align: center; /* Centraliza o texto */
}
