body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0; /* Cor de fundo */
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.section-esquerda {
    text-align: left; /* Alinha o textoa esquerda */
    padding: 20px;
    background-color: #f0f0f0;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    background-color: #283172;
    padding: 10px 20px;
    position: fixed; /* Fixa a barra de navegação no topo */
    width: 100%;
    top: 0;
    z-index: 1000; /* Garante que a barra de navegação fique acima de outros elementos */
}

.navbar-logo {
    margin-right: 20px; /* Espaço entre o logo e o menu */
}

.navbar-logo img {
    height: 50px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 20px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.navbar-menu a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.container {
    width: 300px; /* Largura do contêiner */
    height: 200px; /* Altura do contêiner */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha os itens ao topo */
    align-items: center; /* Alinha os itens à esquerda */
    padding: 20px;
    background-color: #ffffff; /* Cor de fundo do contêiner */
    border: 1px solid #283172; /* Borda do contêiner */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra do contêiner */
}

h1 {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #283172;
}

button {
    cursor: pointer;
    background-color: #283172;
    color: white;
}

button:hover {
    background-color: #575757;
}

.marca-salvadorcard {
    position: absolute; /* Posiciona a imagem de forma absoluta */
    top: 60px; /* Distância do topo */
    width: 100px; /* Largura desejada */
    height: auto; /* Mantém a proporção */
}

.footer {
    background-color: #283172;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed; /* Fixa o rodapé na parte inferior */
    width: 100%;
    bottom: 0;
}
/* Adicione isso ao seu arquivo style.css */
.progress-container {
    display: none; /* Inicialmente oculto */
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
}

#progressBar {
    width: 0%;
    height: 10px; /* Ajuste a altura conforme necessário */
    background-color: #283172; /* Cor da barra */
    border-radius: 5px;
}


#status {
    margin-top: 10px; /* Espaço acima do texto de status */
    font-weight: bold; /* Destaca o texto */
}