<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to PDF Converter</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="js/script.js" defer></script>
</head>
<body>
    <header>
        <ul class="cores-topo">
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
        </ul>
    </header>
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="img/marca-salvadorcard.png" alt="Logo">
        </div>
        <ul class="navbar-menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">Sobre</a></li>
        </ul>
    </nav>

    <section class="section-esquerda">
        <div class="container">
            <h1>Imagem Para PDF</h1>
            <label for="fileInput">Selecionar Imagens:</label>
            <input type="file" id="fileInput" accept="image/jpeg, image/jpg" multiple>
            <div class="progress-container">
                <div class="progress-bar" id="progressBar"></div>
            </div>
            <div class="button-container">
                <button id="convertBtn">Converter PDF</button>
                <button id="stopBtn" disabled>Parar</button>
            </div>
            <p id="status"></p>
            <p id="errorMsg" style="color: red;"></p>
            <footer class="footer">
                <p>Desenvolvido por Levi.</p>
            </footer>
        </div>
    </section>
     <footer class="footer">
        <p>Todos os direitos reservados.</p>
    </footer>
</body>
</html>
